<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" >Web Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="openBackDropCustomClass(content)">login</a>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('src/css/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Web Blog</h1>
          <span class="subheading">A simple blog template for testing purposes</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">

    <div class="row">
      <div class="col-lg-8">
        <!-- Title -->
        <h2 class="mt-4">Posts:</h2>
        <div *ngFor="let post of posts | orderBy:order : true" >
            <div style="background-color: #f8f9fa; border-radius: 5px;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="border-radius: 20px" >
                <div class="carousel-inner" >
                  <div class="carousel-item active" > 
                    <img class="d-block w-100" src='http://placehold.it/600/771796' style="height: 300px;" alt="First slide">
                  </div>
                  <div class="carousel-item" *ngFor="let p of post.photos"> 
                    <img class="d-block w-100" src='{{p[0].url}}' style="height: 300px;" alt="First slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="post-preview" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
              <a href="#">
                <h1 class="post-title" style="font-size: 28px; ">
                  {{post.title}}
                </h1>
                <h3 class="post-subtitle" style="font-size: 20px; text-align: justify; text-justify: auto">
                  {{post.body}}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Web Blog</a>
                on September 24, 2018</p>
              <div class="clearfix">
                  <button class="btn btn-primary float-right" style="font-size: 12px; padding: 8px" (click)="openVerticallyCentered(content)">Comment</button>
              </div>
              <a href="#"><h1 class="post-title" style="font-size: 18px">Comments:</h1></a>
              <br>
              <div class="media mb-4" *ngFor="let comment of post.comment">
                  <div style="width: 50px"></div>
                  <div class="media-body" style="font-size: 14px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
                    <h6 style="font-size: 16px">{{comment.name}}</h6>
                    {{comment.body}}
                  </div>
              </div>
            </div>
          </div>
        <br>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Leave a Comment:</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form>
              <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" ng-model="new_comment.name"  type="text" placeholder="Name" required><br>
                    <input class="form-control" ng-model="new_comment.email" type="email" placeholder="Email" required><br>
                    <textarea class="form-control" ng-model="new_comment.body" rows="2" placeholder="Mensage" required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
                <button type="submit" class="btn btn-success" ng-click="addComment(post)">Submit</button>
              </div>
            </form>
          </ng-template>
        </div>

        <ng-template  #content let-c="close" let-d="dismiss">
          <form role="form" #myForm="ngForm" [formGroup]= "account"  (submit) = "login()">
            <div class="modal-header">
              <h4 class="modal-title">Login:</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input class="form-control" formControlName="user"  type="text" placeholder="User" required><br>
                  <input class="form-control" formControlName="pass" type="password" placeholder="Password" required><br>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
              <button type="submit" class="btn btn-success" [disabled]="!account.valid" >Login</button>
            </div>
          </form>
        </ng-template>

      <!-- Post Content Column -->
        <!-- Comments Form -->

      
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Web Blog 2018</p>
      </div>
    </div>
  </div>
</footer>
